* {
    border: 0px solid rgba(40, 44, 52, 0.0);
    border-radius: 2px;
    font-family: "DejaVu Sans", "Noto Sans", "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #1e1e2e;
    border: transparent;
    color: #d9e0ee;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 5px 5px;
    margin: 0px 2px;
    background-color: #302D41;
    color: #d9e0ee;
}

#workspaces button:hover {
    background: #575268;
}

#workspaces button.visible {
    background-color: #575268;
}

#workspaces button.focused {
    background-color: #DDB6F2;
    color: #1E1E2E;
}

#workspaces button.urgent {
    background-color: #F28FAD;
}

#mode {
    background-color: #B5E8E0;
    border: 3px solid #d9e0ee;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-firefox,
#pulseaudio,
#window,
#mpd {
    padding: 0 10px;
    margin: 4px 2px 4px 2px;
}


#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-firefox,
#pulseaudio,
#window,
#clock,
#mpd {
    background-color: #1e1e2e;
}

#custom-menu {	
    padding: 0px 10px 0px 16px;
    margin: 4px 2px 4px 4px;
    font-size: 18px;
}

#clock {
    padding: 0 10px;
    margin: 4px 4px 4px 2px;
}

#workspaces {
    margin: 4px 0px 4px 0px;
}

/* #workspaces {
    margin: 4px 4px 4px 0px;
    padding: 0px 4px;
}
*/

#clock {
    color: #96CDFB;
}

#custom-menu {
    color: #D9E0EE;
    font-family: 'Font Awesome 5 Free Solid';
}

#window { 
    background-color: #1E1E2E;
    color: #B5E8E0;
}

#battery {
    color: #F28FAD;
}

#battery.charging, #battery.plugged {
    color: #ABE9B3;
}

@keyframes blink {
    to {
        background-color: #D9E0EE;
        color: #1E1E2E;
    }
}

#battery.critical:not(.charging) {
    background-color: #F28FAD;
    color: #D9E0EE;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #1E1E2E;
}

#cpu {
    color: #96CDFB;
}

#memory {
    color: #F28FAD;
}

#disk {
    color: #F8BD96;
    font-family: 'Font Awesome 5 Free Solid';
}

#backlight {
    color: #ABE9B3;
}

#network {
    color: #DDB6F2;
}

#network.disconnected {
    color: #F28FAD;
}

#pulseaudio {
    color: #F8BD96;
}

#pulseaudio.muted {
    color: #F8BD96;
}

#custom-media {
    color: #66cc99;
    min-width: 100px;
}

#temperature {
    background-color: #F8BD96;
}

#temperature.critical {
    background-color: #F28FAD;
}

#idle_inhibitor {
    color: #575268;
}

#idle_inhibitor.activated {
    color: #96CDFB;
}

#mpd {
    color: #FAE3B0;
}

#mpd.paused {
    background-color: #ABE9B3;
}

#language {
    color: #FAE3B0;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

tooltip {
  color: #B5E8E0;
  background-color: #302D41;
  text-shadow: none;
  border-radius: 4px 4px 4px 4px;
}

tooltip * {
  color: #B5E8E0;
  padding: 3px 3px;
  text-shadow: none;
}

