window {
margin: 0px;
border: 2px solid #202C32;
border-radius: 5px;
background-color: #000;
font-family: monospace;
font-size: 16px;
}

#input {
margin: 0px;
border: 1px solid #202C32;
border-radius: 0;
color: #eceff4;
background-color: #202C32;
}

#input image {
	color: #eceff4;
}

#inner-box {
margin: 0px;
border: none;
background-color: #000;
}

#outer-box {
margin: 0px;
border: none;
background-color: #000;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #eceff4;
}

#entry:selected {
    border: 2px solid #fff;
	background-color: #111;
	font-weight: normal;
}

#text:selected {
	background-color: #111;
	font-weight: normal;
}
